@model List<Bug>

@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Header -->
    <div class="text-center">
        <h1 class="display-4">&mdash; keep up with those little critters &mdash;</h1>
        <br>
        <h5><strong>Take advantage of our free bug tracking application!</strong></h5>
    </div>
    <br>
    <br>
    <br>
    <!-- Landing Main Content -->
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">
                <!-- About Icon -->
                <div class="card-body text-center border-top-0 border-bottom-0 border-right-0 border-left-0">
                    <img src="https://pro.propeller.in/assets/images/icon.svg" />
                    <!-- <img src="~/pictures/bug3.jpg" /> -->
                    <br><br>
                    <h2 class="card-title">Track those bugs!</h2>
                    <h6><strong>Bug tracking for your software</strong></h6>
                    <p class="card-text">Tracker is a completly free and intuitive bug tracking application. It's simple and effective. Sign up today for an account and begin the process of getting those bugs under control. Thank you for considering Tracker. Your software will thank you too!</p>
                </div>
            </div>
            <div class="space-1"><br></div>
            <div class="col-md-4">
                <!-- Sign-Up Form Card -->
                <div class="card-body signup-form-card">
                    <h2 class="card-title text-center">Sign up today!</h2>
                    <form>
                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Email" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Password" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Confirm password" type="text">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary btn-lg ">Create Free Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
}
else
{
    <br>
    <br>
    <!-- ALL TABS -- Card -->
    <div class="card">

        <!-- ALL TABS -- Card Nav Tabs -->
        <div class="card-header rounded">
            <ul class="nav nav-tabs card-header-tabs pull-right nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-center" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Track</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="false">Open</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" id="closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="closed" aria-selected="false">Closed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">Help</a>
                </li>
            </ul>
        </div>

        <!-- ALL TABS -- Tab Card Body -->
        <div class="card-body tab-card">
            <div class="tab-content" id="myTabContent">

                <!-- Tab:1 -- Home / Add Bug Tab -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- Add and Search Form Cards -->
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="card-body rounded awesome-card">
                                <br>
                                <h2 class="card-title text-center">Add a new bug or search for an existing one</h2>
                                <h5 class="text-muted text-center"><strong>View new bugs right at the top of the Open Bugs tab. Searched bugs will appear below. </strong></h5>
                                <br>
                                <br>
                                <!-- Line Divider -->
                                <div class="d-flex">
                                    <hr class="my-auto flex-grow-1">
                                    <h5><strong class="px-4 text-muted">&mdash; Add New Bug &mdash;</strong></h5>
                                    <hr class="my-auto flex-grow-1">
                                </div>
                                <br>
                                <!-- Add Form -->
                                @using (Html.BeginForm("NewBug", "Home", FormMethod.Post, new { id = "addform" }))
                                {
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <textarea required class="form-control form-control-lg" name="software" placeholder="The Software's name." rows="2"></textarea>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <textarea required class="form-control form-control-lg" name="name" placeholder="The bug's name." rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <textarea required class="form-control form-control-lg" name="description" placeholder="A description of the bug including instructions on how to reproduce it if you are able." rows="2"></textarea>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-outline-secondary btn-lg">add item</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <br>
                                <br>
                                <!-- Line Divider -->
                                <div class="d-flex">
                                    <hr class="my-auto flex-grow-1">
                                    <h5><strong class="px-4 text-muted">&mdash; Search By Id &mdash;</strong></h5>
                                    <hr class="my-auto flex-grow-1">
                                </div>
                                <br>
                                <!-- Search Form -->
                                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { id = "searchform" }))
                                {
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <textarea required class="form-control form-control-lg" name="id" placeholder="Search for a Bug by id." rows="2"></textarea>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-outline-secondary btn-lg">search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <br />
                                <!-- Update / Close / Delete Form -->
                                @using (Html.BeginForm("UpdateCloseAndDelete", "Home", FormMethod.Post))
                                {
                                    @foreach (var bug in Model)
                                    {
                                        if (bug.BugId == (int)TempData["id"])
                                        {
                                            <br>
                                            <!-- Line Divider -->
                                            <div class="d-flex">
                                                <hr class="my-auto flex-grow-1">
                                                @if ((int)TempData["1"] == 1)
                                                {
                                                    <h2 class="px-4 card-title text-center">Update, close and delete bugs</h2>
                                                    <!-- <h5 class="text-muted text-center"><strong>Bug's can't be closed if an engineer has not been assigned or if the description hasn't been updated.</strong></h5> -->
                                                }
                                                @if ((int)TempData["1"] == 2)
                                                {
                                                    <h5><strong class="px-4">Oops! The search value must be numeric.</strong></h5>
                                                }
                                                @if ((int)TempData["1"] == 3)
                                                {
                                                    <h5><strong class="px-4">Sorry! No bug's with that id were found.</strong></h5>
                                                }
                                                <hr class="my-auto flex-grow-1">
                                            </div>
                                            <h5 class="text-muted text-center"><strong>Please see the Help tab for more information about updating, closing and deleting bugs.</strong></h5>
                                            <br>
                                            <br>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <strong><label class="text-muted">Bug Id</label></strong>
                                                        <input class="form-control form-control-lg" name="id" placeholder='@bug.BugId' value='@bug.BugId' readonly />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <strong><label class="text-muted">Software Name</label></strong>
                                                        <input class="form-control form-control-lg" name="software" placeholder='@bug.SoftwareName' value='@bug.SoftwareName' readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <strong><label class="text-muted">Bug Name</label></strong>
                                                        <input class="form-control form-control-lg" name="name" placeholder='@bug.BugName' value='@bug.BugName' readonly />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <strong><label class="text-muted">Assigned Engineer</label></strong>
                                                        <input class="form-control form-control-lg" name="engineer" placeholder='@bug.AssignedEngineer' />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <strong><label class="text-muted">Open Date</label></strong>
                                                        <input class="form-control form-control-lg" name="open" placeholder='@bug.DateOpened' value='@bug.DateOpened' readonly />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <strong><label class="text-muted">Close Date</label></strong>
                                                        @if (bug.DateClosed.ToString().Equals("01/01/0001 00:00:00"))
                                                        {
                                                            <input class="form-control form-control-lg" name="close" readonly />
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control form-control-lg" name="close" placeholder='@bug.DateClosed' value='@bug.DateClosed' readonly />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <strong><label class="text-muted">Description</label></strong>
                                                        <textarea class="form-control form-control-lg" name="description" placeholder='@bug.Description' rows="7"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-outline-secondary btn-lg" name="submit" value="update">Update Bug</button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-outline-secondary btn-lg" name="submit" value="close">Close Bug</button>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-outline-secondary btn-lg" name="submit" value="delete">Delete Bug</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tab:2 -- Open Bug Tab -->
                <div class="tab-pane fade" id="open" role="tabpanel" aria-labelledby="open-tab">
                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">View Open Bugs</h2>
                        <h5 class="text-muted text-center"><strong>Click on a bug's view link to see more detailed information about the bug!</strong></h5>
                        <br>
                        <!-- Open Bugs Table -->
                        <table class="table">
                            <!-- <thead> -->
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Software</th>
                                <th scope="col">Assigned Engineer</th>
                                <th scope="col">Date Opened</th>
                                <!-- <th scope="col">View</th> -->
                            </tr>
                            <!-- </thead> -->
                            <tbody>
                                @foreach (var bug in Model)
                                {
                                    if (bug.DateClosed.ToString().Equals("01/01/0001 00:00:00"))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => bug.BugId)</td>
                                            <td>@Html.DisplayFor(model => bug.BugName)</td>
                                            <td>@Html.DisplayFor(model => bug.SoftwareName)</td>
                                            <td>@Html.DisplayFor(model => bug.AssignedEngineer)</td>
                                            <td>@Html.DisplayFor(model => bug.DateOpened)</td>
                                            <!-- <td><a id="#search">view</a></td> -->
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Tab:3 -- Close Bug Tab -->
                <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">
                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">View Closed Bugs</h2>
                        <h5 class="text-muted text-center"><strong>Click on a bug's view link to see more detailed information about the bug!</strong></h5>
                        <br>
                        <!-- Closed Bugs Table -->
                        <table class="table">
                            <!-- <thead> -->
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Software</th>
                                <th scope="col">Assigned Engineer</th>
                                <th scope="col">Date Closed</th>
                                <!-- <th scope="col">View</th> -->
                            </tr>
                            <!-- </thead> -->
                            <tbody>
                                @foreach (var bug in Model)
                                {
                                    if (!bug.DateClosed.ToString().Equals("01/01/0001 00:00:00"))
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => bug.BugId)</td>
                                            <td>@Html.DisplayFor(model => bug.BugName)</td>
                                            <td>@Html.DisplayFor(model => bug.SoftwareName)</td>
                                            <td>@Html.DisplayFor(model => bug.AssignedEngineer)</td>
                                            <td>@Html.DisplayFor(model => bug.DateClosed)</td>
                                            <!-- <td><a id="#search">view</a></td> -->
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <!-- Tab:4 -- Help Tab -->
                <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">Find out more about Tracker</h2>
                        <h5 class="text-muted text-center"><strong>Here you'll find some helpful tips about how to take advantage of Tracker!</strong></h5>
                        <br>
                        <br>
                        <h5><strong>Track Tab:</strong></h5>
                        <p>A multi-function tab!</p>
                        <p>&emsp; 1. Add a new bug to the database. <br /> &emsp; 2. Search for an existing bug. <br /> &emsp; 3. Update a bug. <br /> &emsp; 4. Close a bug. <br /> &emsp; 5. Delete a bug.</p>

                        <h6><strong>1. Adding a bug</strong></h6>
                        <p>When adding a new bug to the database all three fields are required:</p>
                        <p>&emsp; &mdash; Software Name is required <br /> &emsp; &mdash; Bug Name is required <br /> &emsp; &mdash; and Description is required</p>

                        <h6><strong>2. Searching for a bug</strong></h6>
                        <p>Search for an existing bug by entering its id into the search field. If there is a match, the corresponding bug's information will be displayed below the search form. Some of this information is updatable.</p>

                        <h6><strong>3. Updating a bug</strong></h6>
                        <p>Two components of a bug can be updated:</p>
                        <p>&emsp; &mdash; Assigned Engineer <br /> &emsp; &mdash; Description</p>
                        <p>In fact, these components must be updated in order to close a bug. An engineer can be assigned to a bug. The role of engineer can also be reassigned throughout the bug's 'open state' life. Progress made toward correcting the bug can be used to update the bug's description. In an ideal senario, the final entry to the description would be a summary of the bug's solution. Each time the description is updated, the new entry will be timestamped.</p>

                        <h6><strong>4. Closing a bug</strong></h6>
                        <p>Bugs can be closed. Once a bug has been fixed and updated in the database, it's ready to be closed. A closed bug is not removed from the database and can still be viewed in the Closed Bugs tab as well as searched for in the Search tab.</p>

                        <h6><strong>5. Deleting a bug</strong></h6>
                        <p>A bug must be closed before being eligible for deletion. Deleting a bug will completly remove it from the database. This action cannot be undone. Use caution when making decisions about deleting bugs.</p>

                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>Open Tab:</strong></h5>
                        <p>The Open Bugs tab provides, all for your viewing pleasure, a beautiful table of currently open bugs. Some information about each bug can be seen; however, by clicking on one of the bug's view links even more detailed information is available. When the link is clicked, this additional information is rendered in the search tab. While viewing this tab, options for updating or closing the currently viewed bug will be availible. You'll also have the option of clearing the form and searching for a different bug.</p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>Closed Tab:</strong></h5>
                        <p>Literally, almost exactly the same as the Open Bugs tab except in this case, you can view bugs which have been - hopefully first fixed - and then closed. Once again, you can also click a bug's view link for additional information. And will be taken to the search tab to view said information.</p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>Contact Tracker:</strong></h5>
                        <p>First of all, thanks so much for taking the time to try Tracker! We hope it has lived up to your expectations. If you have any questions or concerns please contact Tracker at jrobbin4@my.westga.edu. We are more than happy to assist you in any way we can! </p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>More About Tracker:</strong></h5>
                        <p>My name is Jason Robbins and I decided to create Tracker in May of 2020 as an in-between semester project while studing computer science as a graduate student at the University of West Georgia. Thank you so much for checking out my project. If you have time, please check out my <a href="https://github.com/jasonpatrickrobbins">github</a> and <a href="https://www.linkedin.com/in/robbinsjason/">LinkedIn</a>. I also have an in-progress person site at <a href="http://jasonpatrickrobbins.com">jasonpatrickrobbins.com</a>.</p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
}
