@model List<Bug>

@{
    ViewData["Title"] = "Home Page";
}


@if ((string)TempData["Referrer"] == "SaveRegister")
{
}
else
{
}

@if (!User.Identity.IsAuthenticated)
{
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Header -->
    <div class="text-center">
        <h1 class="display-4">&mdash; keep up with those little critters &mdash;</h1>
        <br>
        <h5><strong>Take advantage of our free bug tracking application!</strong></h5>
    </div>

    <br>
    <br>
    <br>

    <!-- Landing Main Content -->
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">
                <!-- About Icon -->
                <div class="card-body text-center border-top-0 border-bottom-0 border-right-0 border-left-0">
                    <img src="https://pro.propeller.in/assets/images/icon.svg" />
                    <!-- <img src="~/pictures/bug3.jpg" /> -->
                    <br><br>
                    <h2 class="card-title">Track those bugs!</h2>
                    <h6><strong>Bug tracking for your software</strong></h6>
                    <p class="card-text">Tracker is a completly free and intuitive bug tracking application. It's simple and effective. Sign up today for an account and begin the process of getting those bugs under control. Thank you for considering Tracker. Your software will thank you too!</p>
                </div>
            </div>

            <div class="space-1"><br></div>

            <div class="col-md-4">
                <!-- Sign-Up Form Card -->
                <div class="card-body signup-form-card">
                    <h2 class="card-title text-center">Sign up today!</h2>
                    <form>
                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Email" type="text">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Password" type="text">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Confirm password" type="text">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary btn-lg ">Create Free Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
}
else
{
    <br>
    <br>
    <div class="card">
        <!-- Card Nav Tabs -->
        <div class="card-header rounded">
            <ul class="nav nav-tabs card-header-tabs pull-right" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-center" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Add a Bug</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" id="open-tab" data-toggle="tab" href="#open" role="tab" aria-controls="open" aria-selected="false">Open Bugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" id="closed-tab" data-toggle="tab" href="#closed" role="tab" aria-controls="closed" aria-selected="false">Closed Bugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-center" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">Help</a>
                </li>
            </ul>
        </div>

        <!-- Tab Card Body -->
        <div class="card-body tab-card">
            <div class="tab-content" id="myTabContent">

                <!-- Home / Add Bug Tab -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <!-- Add Form Card -->
                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">Add a bug to the database to track</h2>
                        <h5 class="text-muted text-center"><strong>Then view it in the Open Bugs tab &mdash; It'll be right at the top!</strong></h5>
                        <br>
                        <br>

                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <textarea required class="form-control form-control-lg" name="software" placeholder="The Software's name." rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <textarea required class="form-control form-control-lg" name="name" placeholder="The bug's name." rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <textarea required class="form-control form-control-lg" name="description" placeholder="A description of the bug including if you are able to reproduce it and how." rows="7"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-primary btn-lg">add item</button>
                            </div>
                        }
                    </div>
                </div>

                <!-- Open Bug Tab -->
                <div class="tab-pane fade" id="open" role="tabpanel" aria-labelledby="open-tab">

                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">View Open Bugs</h2>
                        <h5 class="text-muted text-center"><strong>Click on a bug's view link to see more detailed information about the bug!</strong></h5>
                        <br>

                        <table class="table">
                            <!-- <thead> -->
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Software</th>
                                <th scope="col">Assigned Engineer</th>
                                <th scope="col">Date Opened</th>
                                <th scope="col">View</th>
                            </tr>
                            <!-- </thead> -->
                            <tbody>
                                @foreach (var bug in Model)
                                {
                                    if(bug.DateClosed.ToString() != "01/01/0001 12:00:00")
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => bug.BugId)</td>
                                            <td>@Html.DisplayFor(model => bug.BugName)</td>
                                            <td>@Html.DisplayFor(model => bug.SoftwareName)</td>
                                            <td>@Html.DisplayFor(model => bug.AssignedEngineer)</td>
                                            <td>@Html.DisplayFor(model => bug.DateOpened)</td>
                                            <td>view</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Close Bug Tab -->
                <div class="tab-pane fade" id="closed" role="tabpanel" aria-labelledby="closed-tab">
                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">View Closed Bugs</h2>
                        <h5 class="text-muted text-center"><strong>Click on a bug's view link to see more detailed information about the bug!</strong></h5>
                        <br>
                    </div>
                </div>

                <!-- Search Bug Tab -->
                <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">Search for, update or close bugs</h2>
                        <h5 class="text-muted text-center"><strong>Bug's can't be closed if an engineer has not been assigned or if the description hasn't been updated.</strong></h5>
                        <br>
                        <br>

                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <textarea required class="form-control form-control-lg" name="search" placeholder="Search for a Bug." rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-outline-primary btn-lg">search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <br>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <h5><strong class="px-4">Detailed Bug Data</strong></h5>
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>

                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <strong><label class="text-muted">Bug Id</label></strong>
                                        <input required class="form-control form-control-lg" name="id" type="text">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <strong><label class="text-muted">Software Name</label></strong>
                                        <input required class="form-control form-control-lg" name="software" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <strong><label class="text-muted">Bug Name</label></strong>
                                        <input required class="form-control form-control-lg" name="name" type="text">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <strong><label class="text-muted">Assigned Engineer</label></strong>
                                        <input required class="form-control form-control-lg" name="engineer" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <strong><label class="text-muted">Open Date</label></strong>
                                        <input required class="form-control form-control-lg" name="open" type="text">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <strong><label class="text-muted">Close Date</label></strong>
                                        <input required class="form-control form-control-lg" name="close" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <strong><label class="text-muted">Description</label></strong>
                                        <textarea required class="form-control form-control-lg" name="description" rows="7"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary btn-lg">Update Bug</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary btn-lg">Close Bug</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary btn-lg">Delete Bug</button>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline-primary btn-lg">Clear Form</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- Help Tab -->
                <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
                    <div class="card-body rounded awesome-card">
                        <br>
                        <h2 class="card-title text-center">Find out more about Tracker</h2>
                        <h5 class="text-muted text-center"><strong>Here you'll find some helpful tips about how to take advantage of Tracker!</strong></h5>
                        <br>
                        <br>
                        <h5><strong>Tracking Bugs:</strong></h5>
                        <p>When adding a new bug to the database all three fields are required:</p>
                        <p>&emsp; &mdash; Software Name is required</p>
                        <p>&emsp; &mdash; Bug Name is required</p>
                        <p>&emsp; &mdash; and Description is required</p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <!-- <div class="px-4">SOME TEXT HERE</div> -->
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>Open Bugs:</strong></h5>
                        <p>The Open Bugs tab provides, all for your viewing pleasure, a beautiful table of currently open bugs. Some information about each bug can be seen; however, by clicking on one of the bug's view links even more detailed information is available. When the link is clicked, this additional information is rendered in the search tab. While viewing this tab, options for updating or closing the currently viewed bug will be availible. You'll also have the option of clearing the form and searching for a different bug.</p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <!-- <div class="px-4">SOME TEXT HERE</div> -->
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>Closed Bugs:</strong></h5>
                        <p>Literally, almost exactly the same as the Open Bugs tab except in this case, you can view bugs which have been - hopefully first fixed - and then closed. Once again, you can also click a bug's view link for additional information. And will be taken to the search tab to view said information.</p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <!-- <div class="px-4">SOME TEXT HERE</div> -->
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>Search:</strong></h5>
                        <p>A multi-function tab! First, you can search for a bug by the bug's id. Once a bug has been located, it will appear in the form below the search box. The bug can now be viewed, updated and closed.</p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <!-- <div class="px-4">SOME TEXT HERE</div> -->
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>Updating and Closing Bugs:</strong></h5>
                        <h6><strong>Updating</strong></h6>
                        <p>Updating</p>
                        <h6><strong>Closing</strong></h6>
                        <p>Closing</p>
                        <br>
                        <div class="d-flex">
                            <hr class="my-auto flex-grow-1">
                            <!-- <div class="px-4">SOME TEXT HERE</div> -->
                            <hr class="my-auto flex-grow-1">
                        </div>
                        <br>
                        <br>
                        <h5><strong>More About Tracker:</strong></h5>
                        <p>Tracker was established in May of 2020 by Jason Robbins as an in-between semester project. The intial purpose of this project was... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <script>function myFunction() { document.getElementById("myForm").reset(); }</script>
}
