@model Tracker.Models.Bug
@{
    ViewData["Title"] = "Home Page";
}


@if ((string)TempData["Referrer"] == "SaveRegister")
{
    <div class="alert alert-success">
        <strong>You have registered successfully</strong>
    </div>
}
else
{
    <div class="alert alert-success">
        <strong>NO</strong>
    </div>
}

<br>
<br>
<br>
<br>
<br>

@if (!User.Identity.IsAuthenticated)
{
    <!-- Header -->
    <div class="text-center">
        <h1 class="display-4">&mdash; keep up with those little critters &mdash;</h1>
        <br>
        <h5><strong>Take advantage of our free bug tracking application!</strong></h5>
    </div>

    <br>
    <br>
    <br>

    <!-- Landing Main Content -->
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-4">
                <!-- About Icon -->
                <div class="card-body text-center border-top-0 border-bottom-0 border-right-0 border-left-0">
                    <img src="https://pro.propeller.in/assets/images/icon.svg" />
                    <!-- <img src="~/pictures/bug3.jpg" /> -->
                    <br><br>
                    <h2 class="card-title">Track those bugs!</h2>
                    <h6><strong>Bug tracking for your software</strong></h6>
                    <p class="card-text">Tracker is a completly free and intuitive bug tracking application. It's simple and effective. Sign up today for an account and begin the process of getting those bugs under control. Thank you for considering Tracker. Your software will thank you too!</p>
                </div>
            </div>

            <div class="space-1"><br></div>

            <div class="col-md-4">
                <!-- Sign-Up Form Card -->
                <div class="card-body signup-form-card">
                    <h2 class="card-title text-center">Sign up today!</h2>
                    <form>
                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Email" type="text">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Password" type="text">
                        </div>

                        <div class="form-group">
                            <input class="form-control form-control-lg" placeholder="Confirm password" type="text">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary btn-lg ">Create Free Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
}
else
{
    <!-- Signed In Forms -->
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-5">
                <!-- Add Form Card -->
                <div class="card-body add-form-card">
                    <h2 class="card-title text-center">Add a bug to track</h2><br>

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.SoftwareName, new { @class = "form-control form-control-lg", placeholder = "Software name", type = "text", required = "required" })
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.BugName, new { @class = "form-control form-control-lg", placeholder = "Bug's name", type = "text", required = "required" })
                        </div>

                        <div class="form-group">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control form-control-lg", placeholder = "A description of the bug including if you are able to reproduce it and how.", type = "textarea", rows = "7", required = "required" })
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary btn-lg">add item</button>
                        </div>
                    }
                </div>
            </div>

            <div class="space-2"><br></div>

            <div class="col-md-4 justify-content-center">

                <div class="row-md-5">
                    <!-- Search Form Card -->
                    <div class="card-body search-form-card">
                        <h2 class="card-title text-center">Search existing bugs</h2><br>
                        <form>
                            <div class="form-group">
                                <input class="form-control form-control-lg" type="text">
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-dark btn-lg ">search</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="space-3"><br></div>

                <div class="row-md-5">
                    <!-- View Form Card -->
                    <div class="card-body view-form-card">
                        <h2 class="card-title text-center">View existing bugs</h2><br>
                        <form>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-secondary btn-lg ">resolved items</button>
                            </div>
                        </form>

                        <br>

                        <form>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-secondary btn-lg ">unresolved items</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>




    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs pull-right" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>


    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>






    <br>
    <br>
    <br>
    <br>


    <strong>Bug Id: </strong> @Html.DisplayFor(m => m.BugId)
    <br />
    <strong>Bug Name: </strong> @Html.DisplayFor(m => m.BugName)
    <br />
    <strong>Software: </strong> @Html.DisplayFor(m => m.SoftwareName)
    <br />
    <strong>Description: </strong> @Html.DisplayFor(m => m.Description)
    <br />
    <strong>Author: </strong> @Html.DisplayFor(m => m.Author)
    <br />
    <strong>Close Date: </strong> @Html.DisplayFor(m => m.DateClosed)
    <br />







    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="bologna-list" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#deals" role="tab" aria-controls="deals" aria-selected="false">Deals</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Bologna</h4>
                        <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>

                        <div class="tab-content mt-3">
                            <div class="tab-pane active" id="description" role="tabpanel">
                                <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                                <a href="#" class="card-link text-danger">Read more</a>
                            </div>

                            <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
                                <p class="card-text">First settled around 1000 BCE and then founded as the Etruscan Felsina about 500 BCE, it was occupied by the Boii in the 4th century BCE and became a Roman colony and municipium with the name of Bononia in 196 BCE. </p>
                                <a href="#" class="card-link text-danger">Read more</a>
                            </div>

                            <div class="tab-pane" id="deals" role="tabpanel" aria-labelledby="deals-tab">
                                <p class="card-text">Immerse yourself in the colours, aromas and traditions of Emilia-Romagna with a holiday in Bologna, and discover the city's rich artistic heritage.</p>
                                <a href="#" class="btn btn-danger btn-sm">Get Deals</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <br>
    <br>
    <br>
    <br>




    <script>function myFunction() { document.getElementById("myForm").reset(); }</script>

}